<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body>
<main layout:fragment="content" style="padding-top: 70px;">
    <div class="col-12">
        <h2>Speakers</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <a class="btn btn-light mb-2" th:href="@{/speakers/add}">Add speaker</a>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Bio</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="speaker : ${speakers}">
                    <td th:text="${speaker.name}"></td>
                    <td th:text="${speaker.title}"></td>
                    <td th:text="${speaker.company}"></td>
                    <td th:text="${speaker.bio}"></td>
                    <td>
                        <a class="btn btn-light" th:href="@{/speakers/edit/} + ${speaker.id}">Edit<i
                                class="fa fa-edit"></i></a>
                    </td>
                    <td>
                        <form th:action="@{/speakers/delete}" method="post">
                            <input type="hidden" name="id" th:value="${speaker.id}"/>
                            <button type="submit" class="btn btn-light">Delete<i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>